@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Varela+Round&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

#box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#btn {
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: yellow;
}